*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
google_calendars.yaml
usps_cookies.pickle
usps_cache.sqlite
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
.uuid
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
entity_registry.yaml
home-assistant_v2.db*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
# C extensions
*.so
*.pickle

# Specific Keep
!/.stubs/secrets.yaml
